.auth-form-container{
    /* border: 1px solid; */
    position: absolute;
    /* height: 500px; */
    top: 50%;
    left: 50%;
    transform: translate(30%, 30%);
    padding: 10px;
    height: 500px;
    width: 600px;
  
  }

  
.deletebutton:before{
    content: '\2716';
    color: #b20610;
    position:absolute;
    top:0;
    right:0;
    color:black
  }

  .login-form, .register-form {
    display: flex;
    flex-direction: column;
   }

.submitButton {
    color:white;
    align-items: center;
    margin-top: 10px;
  }
  
  .formAgreement{
    display: flex;
    margin-top: 30px;
  }